.movie-app {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-app h1 {
    margin: 30px 0px;
}

.movie-app .movie-search-results-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.movie-app .movie-search-results-container .movie-card .img,
.movie-app .movie-watch-list-wrapper .movie-card .img, 
.movie-app .movie-watched-wrapper .movie-card .img {
    display: flex;
    justify-content: center;
}

.movie-app .movie-search-results-container .movie-card img,
.movie-app .movie-watch-list-wrapper .movie-card img, 
.movie-app .movie-watched-wrapper .movie-card img {
    height: 300px;
}

.movie-app .movie-search-results-container .movie-card .fill-img,
.movie-app .movie-watch-list-wrapper .movie-card .fill-img,
.movie-app .movie-watched-wrapper .movie-card .fill-img {
    width: 200px;
    height: 300px;
    background-color: rgb(213, 135, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}

.movie-app .movie-search-results-container .movie-card .buttons-wrapper,
.movie-app .movie-watch-list-wrapper .movie-card .buttons-wrapper,
.movie-app .movie-watched-wrapper .movie-card .buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.movie-app .movie-search-results-container .movie-card .buttons-wrapper button,
.movie-app .movie-watch-list-wrapper .movie-card .buttons-wrapper button,
.movie-app .movie-watched-wrapper .movie-card .buttons-wrapper button {
    padding: 10px 8px;
    margin: 0px 4px;
    font-size: 14px;
    font-weight: bold;
}

.movie-app .watch-list-details-container {
    display: flex;
    justify-content: space-between;
}

.movie-app .movie-watch-list-wrapper,
.movie-app .movie-watched-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.movie-app .movie-watch-list-wrapper .movie-not-found,
.movie-app .movie-watched-wrapper .movie-not-found {
    display: flex;
    justify-content: center;
}