.quiz-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
    margin-top: 50px;
}

.quiz-container h1 {
    margin-bottom: 30px;
    color: #333333;
}

.quiz-container .question-wrapper-container h2,
.show-result-wrapper h2 {
    margin-bottom: 10px;
}

.quiz-container .question-wrapper-container p,
.show-result-wrapper p {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: rgb(6, 242, 33);
}

.quiz-container .question-wrapper-container .options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-container .question-wrapper-container .options .option {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none;
    background-color: #0fffe7;
    font-size: 18px;
    font-weight: bold;
}

.quiz-container .question-wrapper-container .options .option.selected {
    background-color: #4caf50;
    color: #fff;
}

.quiz-container .question-wrapper-container .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.quiz-container .question-wrapper-container .button-container button,
.show-result-wrapper .restart-btn {
    padding: 12px 20px;
    background-color: #f3f800;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}